@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width:200px;
}
@layer utilities{
    .cool{
       @apply flex justify-between  bg-blue-500;
}
}