body{
    background: linear-gradient(black, brown);
    color:white;
    font-family:"Alumni Sans SC";
    font-size:20px;
}
h1{
    color:white;
    font-family:"Alumni Sans";
}
img{
    width:200px;
    float:right;

}
div{
    color:white;
}
table{
    width:1px;
}

